<div>
    <ag-grid-angular #stockGrid (gridReady)="onStockGridReady($event)" style="width: 600px; height: 500px; column-width: auto"
                     class="ag-theme-alpine"
                     [rowData]="stocks"
                     [columnDefs]="columnDefs"
                     rowSelection="multiple"
                     [rowClassRules]="rowClassRules"
                     [gridOptions]="stockGridOptions">
    </ag-grid-angular>
  </div>

  <div>
    <ul>
      <li *ngFor="let notice of notices"> {{notice.stockSymbol}} - {{notice.eventType}} - {{notice.noticeTime}}  </li>
    </ul>
  </div>